<h1>
  商品検索
</h1>
<%= search_form_for @p, url: products_search_path do |f| %>
  <%= f.label :name_eq, '商品名' %>
  <%= f.collection_select :name_eq, @product_name, :name, :name, include_blank: '指定なし' %>
  <br>
  <%= f.label :size_eq, 'サイズ' %>
  <%= f.collection_select :size_eq, @product_size, :size, :size, include_blank: '指定なし' %>
  <br>
  <%= f.label :status_eq, '商品状態' %>
  <%= f.collection_select :status_eq, @product_status, :status, :status, include_blank: '指定なし' %>
  <br>
  <%= f.label :category_name_eq, 'カテゴリー' %>
  <%= f.collection_select :category_name_eq, @category_name, :name, :name, include_blank: '指定なし' %>
  <br>
  <%= f.label :price, '価格' %>
  <%= f.radio_button :price_lteq, '' %>
  指定なし
  <%= f.radio_button :price_lteq, '1000' %>
  1000円以下
  <%= f.radio_button :price_lteq, '2500' %>
  2500円以下
  <%= f.radio_button :price_lteq, '5000' %>
  5000円以下
  <br>
  <%= f.submit '検索' %>
<% end %>

<% @products.each do |product| %>
  <br>
  <li>
    <%= product.name %>
    <%= product.size %>
    <%= product.status %>
    <%= product.price %>
    <%= product.category.name %>
  </li>
<% end %>